html, body {
    margin: 0; padding: 0;
}

.hide {
    visibility: hidden;
}

.w-100 {
    width: 100% !important
}

.w-100 * {
    width: 100% !important
}

.w-50 {
    width: 50% !important
}

.w-50 * {
    width: 50% !important
}

.h-100 {
    height: 100% !important
}

.m-auto {
    display: flex;
    margin: auto;
}

.mt-auto {
    display: flex;
    margin-top: auto;
}

.mr-auto {
    display: flex;
    margin-right: auto;
}

.mb-auto {
    display: flex;
    margin-bottom: auto;
}

.ml-auto {
    display: flex;
    margin-left: auto;
}

.my-auto {
    display: flex;
    margin: auto 0;
}

.mx-auto {
    display: flex;
    margin: 0 auto;
}

.center-screen {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
}
